$bgColor: #1e1e1e;
$textColor: #ffffff;

// general colors
$white: #fff;
$black: #000;
$gray: #ccc;

// tiles colors
$tileFirst: #e1765a;
$tileSecond: #5dbe74;
$tileThird: #e3d45a;
$tileFourth: #8f9a9d;
