$bgColor: #ffffff;
$textColor: #111;

// general colors
$white: #fff;
$black: #000;
$gray: #ccc;

// tiles colors
$tileFirst: #e1765a;
$tileSecond: #5dbe74;
$tileThird: #e3d45a;
$tileFourth: #8f9a9d;

// buttons
$btnBg: #000000;
$btnBgHover: #111111;
$btnColor: #fff;

// toggler button
$togglerBg: #000000;
$togglerBgHover: #111111;
$togglerColor: #fff;
$togglerActiveBg: #e1765a;
$togglerActiveBgHover: #e1765a;
$togglerActiveColor: #fff;