@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&family=Outfit:wght@400;600;900&display=swap');


$primary-font: 'Inter', sans-serif;
$secondary-font: 'Outfit', sans-serif;

.font-primary {
    font-family: $primary-font;
}

.font-secondary {
    font-family: $secondary-font;
}